@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.hToB {
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%),
    linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.3) 60%,rgba(255, 255, 255, 0.3) 100%)
    ;
}
.dark .hToB {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.3) 60%,rgba(0, 0, 0, 0.3) 100%)
    ;
}

body {
    background: url("media/background.jpg"); 
    background-size: cover;
}
.hologram {
    background: repeating-linear-gradient(rgba(48, 58, 134, 0.7) 0%, rgba(109, 120, 222, 0.4) 15%, rgba(48, 58, 134, 0.7) 30%);
    box-shadow: 0px 0px 15px rgba(109, 120, 222, 1);
}
.hologram2 {
    background: repeating-linear-gradient(rgb(121, 136, 255) 0%, rgba(109, 120, 222, 1) 15%, rgb(121, 136, 255) 30%);
    box-shadow: 0px 0px 15px rgba(109, 120, 222, 1);
}
.text-stroke { /* honestly kinda shocked tailwind doesnt have a text outline */
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.link:link {
    color: #0000EE;
    text-decoration: underline;
}
.link:visited {
    color: #551A8B;
    text-decoration: underline;
}
a:link:active, a:visited:active {
    color: #FF0000;
}